body {
  background-color: lavender;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  background-color: coral;
  color: rgb(105, 89, 89);
  text-align: center;
  margin: 50px;
}
